body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./R.jpeg);
  background-size: contain;
}
.container {
  text-align: center;
  width: max-content;
}
/* Ajout d'un style pour définir le curseur lorsque survolé */
#Game-container {
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  width: max-content;
  background: #000000;
}

#Score-panel {
  margin-top: 20px;
  width: 100%;
  height: max-content;
  display: flex;
  margin-left: 2px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.Score-card {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@keyframes highlight {
  0% {
    border-color: #ff0000;
  }
  50% {
    border-color: #ff0000;
  }
  100% {
    border-color: #000;
  }
}

.active {
  animation: highlight 3s;
  background-color: #588157;
  color: wheat;
  border: none;
  border-radius: 100px;
}

.gamelayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

#listhistory {
  max-height: 300px; /* Définissez la hauteur maximale souhaitée */
  overflow-y: auto; /* Ajoute la barre de défilement vertical lorsque nécessaire */
}

a {
  cursor: pointer;
}

/* styles.css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

